<form action="/add" method="post">
    
    <!-- <textarea name="growlhere" maxlength="142"></textarea>
 -->
    <input type="text" name="growlers" maxlength="142">

    <input type="submit" value="Submit">

</form>